*.h		        text eol=lf
*.c		        text eol=lf
*.cpp	        text eol=lf
*.txt	        text eol=lf
*.sh    		text eol=lf
*.json          text eol=lf
sdkconfig   	text eol=lf
.gitattributes  text eol=lf
.gitignore		text eol=lf
.gitmodules		text eol=lf
