CONFIG_ION_BUTTON=y
CONFIG_ION_LED_PIN=2
CONFIG_ION_CU2=n
CONFIG_ION_CU3=y
CONFIG_ION_UART=2
CONFIG_ION_RXD=16
CONFIG_ION_TXD=17

# C3
#CONFIG_IDF_TARGET="esp32c3"
#CONFIG_ION_BUTTON=n
#CONFIG_ION_LED_PIN=3
#CONFIG_ION_CU2=n
#CONFIG_ION_CU3=y
#CONFIG_ION_UART=1
#CONFIG_ION_RXD=8
#CONFIG_ION_TXD=2

# My chips are 4MB flash, once you use OTA this settings matters
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Set up partitions for SPIFFS
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# We want no interruptions in the communication, so keep cpu fast
# C3
#CONFIG_ESP32C3_DEFAULT_CPU_FREQ_160=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000

CONFIG_LOG_COLORS=
#CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
