CONFIG_ION_RXD=3
CONFIG_ION_TXD=1

CONFIG_ION_LIGHT_PIN=17
CONFIG_ION_LIGHT_PIN_INVERTED=n

CONFIG_ION_RELAY_PIN=16
CONFIG_ION_RELAY_PIN_INVERTED=n

# Divider: 10k/1k (scale = 11.0)
# Bat(24v) full = 29,4 Volt
# Bat empty = 21 Volt

# 21,000 / 11
CONFIG_ION_ADC_EMPTY_MV=1909

# 29,400 / 11
CONFIG_ION_ADC_FULL_MV=2664
