CONFIG_ION_BUTTON=y
CONFIG_ION_LED_PIN=2
CONFIG_ION_UART=2
CONFIG_ION_RXD=16
CONFIG_ION_TXD=17

CONFIG_ION_LIGHT=y
CONFIG_ION_LIGHT_PIN=33
CONFIG_ION_LIGHT_PIN_INVERTED=y

CONFIG_ION_RELAY=y
CONFIG_ION_RELAY_PIN=32
CONFIG_ION_RELAY_PIN_INVERTED=y

CONFIG_ION_ADC=y

# 2.65V is 40.1V in realty due to voltage divider
# Ratio is 40.1 / 2.65 = ~15.13 (measured scale, using this)

# Divider is 3K3 + 5K1 = 8K4 and 118K. Total 126K4.
# Ratio is 126K4 / 8K4 = ~15.05 (calculated scale, for reference)

# The scale of the divider, times 1000
CONFIG_ION_DIVIDER_SCALE=15130

# Consider 30V (3.0V/cell for 10s) empty
CONFIG_ION_ADC_EMPTY_MV=30000

# Consider 42V (4.2V/cell for 10s) full
CONFIG_ION_ADC_FULL_MV=42000

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
