CONFIG_ION_CU2=n
CONFIG_ION_CU3=y

# My chips are 4MB flash, once you use OTA this settings matters
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Set up partitions for SPIFFS
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_FREERTOS_HZ=1000

CONFIG_LOG_COLORS=
#CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
