# Configuration for use with ESP32 C3 supermini and APM power module
# https://nl.aliexpress.com/item/1005006170575141.html
# https://nl.aliexpress.com/item/1005005831224524.html

# Pins:
# 1(06) - GND  - GND
# 2(04) - GP4  - IO4 > Optional ADC use for battery level, voltage
# 3(06) - GP5  - IO5 > Optional ADC use for battery level, current
# 4(00) - GP0  - IO0 > Motor on/off (active low)
# 5(01) - GP1  - IO1 > Light on/off (active high) + jumper for debug
# 6(20) - RXD  - RX  > Bus send
# 7(21) - TXD  - TX  > Bus receive
# 8(07) - VCC  - 5V


CONFIG_ION_BUTTON=n
CONFIG_ION_LED_PIN=8

CONFIG_ION_UART=1
CONFIG_ION_RXD=20
CONFIG_ION_TXD=21
 
CONFIG_ION_RELAY=y
CONFIG_ION_RELAY_PIN=0
CONFIG_ION_RELAY_PIN_INVERTED=n

CONFIG_ION_LIGHT=y
CONFIG_ION_LIGHT_PIN=3
CONFIG_ION_LIGHT_PIN_INVERTED=n

CONFIG_ESP32C3_DEFAULT_CPU_FREQ_160=y

# --- ADC measuring ---
# For ESP32-C3
# ADC channel 0 is pin 0
# ADC channel 1 is pin 1
# ADC channel 2 is pin 2
# ADC channel 3 is pin 3
# ADC channel 4 is pin 4

CONFIG_ION_ADC=y
# --- Voltage measuring ---
# ADC channel 1 is pin 2
CONFIG_ION_ADC_CHAN=2

# The scale of the divider, times 1000, from APM power module
CONFIG_ION_DIVIDER_SCALE=10829

# Consider 23V (2,875V/cell for 8s LiFePo4) empty
CONFIG_ION_ADC_EMPTY_MV=23000

# Consider 27V (3,375V/cell for 8s  LiFePo4) full
CONFIG_ION_ADC_FULL_MV=27000

# --- Current measuring ---
CONFIG_ION_CURR_ADC=y

# ADC channel 2 is pin 1
CONFIG_ION_CURR_ADC_CHAN=1

# Full battery charge in mAh.
CONFIG_ION_BAT_CHARGE=20000

# keepalive
CONFIG_ION_KEEPALIVE=y
