# My configuration options
CONFIG_ESPTOOLPY_PORT="rfc2217://host.docker.internal:2217"
CONFIG_ESPTOOLPY_BAUD_921600B=y

# My chips are 4MB flash, once you use OTA this settings matters
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Set up partitions for OTA
CONFIG_PARTITION_TABLE_TWO_OTA=y

# Yes we know what we're doing and want plain HTTP
CONFIG_OTA_ALLOW_HTTP=y

# We want no interruptions in the communication, so keep cpu fast
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000

# Tweak the stack sizes some, some might be old defaults, I think I did idle on purpose.
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=1024
CONFIG_TCPIP_TASK_STACK_SIZE=2048
# We do MQTT stuff (status reports) on the timer, which tends to hit the stack limit (default 2048).
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=3072

# Disable fancy MQTT things we don't want
CONFIG_MQTT_TRANSPORT_SSL=
CONFIG_MQTT_TRANSPORT_WEBSOCKET=

# Pin MQTT task to the system core, just in case
CONFIG_MQTT_TASK_CORE_SELECTION_ENABLED=y
CONFIG_MQTT_USE_CORE_0=y

CONFIG_LOG_COLORS=
#CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
