# Light and motor active high
CONFIG_ION_LIGHT_PIN_INVERTED=n
CONFIG_ION_RELAY_PIN_INVERTED=n

# Divider: 10k/1k (scale = 11.0)
# 7S battery:
# Empty = 3.2V * 7 = 22.4v
# Full = 4.2V * 7 =29.4v

# 22,400mv  / 11.0
CONFIG_ION_ADC_EMPTY_MV=2036

# 29,400mv  / 11.0
CONFIG_ION_ADC_FULL_MV=2672
